.navbar {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to right,
            rgba(211, 181, 99, 0.35),
            #eb4b4b,
            rgba(225, 167, 35, 0.91),
            rgba(225, 168, 35, 0.7));
}