@mixin flex {
    display: flex;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to right,
            rgba(211, 181, 99, 0.35),
            #eb4b4b,
            rgba(225, 167, 35, 0.91),
            rgba(225, 168, 35, 0.7));
    display: flex;
    align-content: center;
    justify-content: space-between;

    .left {
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: #cfd0d2;

        .wrapper {
            height: 40px;
            width: 40px;
            @include center;
            background-color: #dc3545;
        }

        .logo {
            background-color: white;
            margin: 0px;
            height: 40px;
            @include flex;
            width: 137px;
            padding: 0px 10px;
            justify-content: start;

            img {
                width: 102px;
                height: 12px;
                display: flex;
                align-items: center;
                justify-content: start;
            }
        }

        .bg-select {
            margin-left: 0.5px;
            background-color: white;
            font-size: 12px;
            height: 40px;
            width: 155px;
            color: #8f9396;
            border: none;
            padding: 4.5px 27px 4.5px 9px;



        }

        select:focus {
            outline: none !important;
        }

        .search-logo {
            background-color: white;
            width: 30px;
            height: 36px;
            padding: 4.5px 9px;
            @include center;

        }

        .search {
            height: 40px;
            background-color: white;
            @include center;

            input:focus {
                outline: none !important;
                border: none;
            }
        }

        .search-input {
            border: none;
            width: 167px;
            height: 36px;
            padding: 4.5px 9px;
        }

        .down-arrow {
            height: 40px;
            width: 40px;
            @include center;
        }

        svg {
            color: white;
        }

    }

    .right {
        @include flex;
        gap: 1.8rem;
        margin-right: 1.8rem;
        justify-content: space-between;

        p {
            margin: 0px;
            padding: 0px;
            color: white;
            font-weight: 700 !important;
        }

        svg {
            color: white;
        }


        .bell {
            margin-top: -6px;
            @include flex;
            flex-direction: column;

            .red-circle {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: red;
                align-self: flex-end;
                margin-right: -5px;
                margin-top: 1px;

                p {
                    @include center;
                }
            }
        }

    }
}