<div class="navbar">
    <div class="left">
        <div class="wrapper pointer">
            <i class="bi bi-grid-3x3-gap" style="color: white;"></i>
        </div>
        <div class="logo">
            <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="dropdown">
            <select class="bg-select">
                <option>**INTELLIVEER***</option>
                <option>**ssssssssssssxxxxxxxxxxxxxxxxxxxxxx***</option>

            </select>
        </div>
        <div class="search">
            <i class="bi bi-search"></i>
        </div>
    </div>
    <div class="right">

    </div>
</div>