<div class="navbar">
    <div class="left">
        <div class="wrapper pointer">
            <i class="bi bi-grid-3x3-gap" style="color: white;"></i>
        </div>
        <div class="logo">
            <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="dropdown">
            <select class="bg-select">
                <option>**INTELLIVEER***</option>
                <option>**ssssssssssssxxxxxxxxxxxxxxxxxxxxxx***</option>
            </select>
        </div>
        <div class="search" style="margin-left: 1px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                class="bi bi-search search-logo" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </div>
        <div class="search">
            <input class="search-input" type="text" placeholder="Search">
        </div>
        <div class="down-arrow pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
    </div>
    <div class="right">

    </div>
</div>