<div class="row">
    <div class="col-2">
        <div class="settings-row pointer" routerLink="/dashboard/settings">
            <!-- [routerLink]="urlSettings" -->
            <i class="bi bi-arrow-left-circle" style="font-size: 2rem"></i>
            <span>Settings menu</span>
        </div>
        <ul class="ul" style="margin-top: 27px">
            <div *ngFor="let item of onBoardingMenu">
                <!-- <li class="pointer" routerLinkActive="active" [routerLink]="item.url">
                    {{ item.title }}
                </li> -->
                <li (click)="selectItem(item.id)" class="pointer"
                    [ngClass]="{'selected-item': item.id === selectedItem}">
                    {{ item.title }}
                </li>
            </div>
        </ul>
    </div>
    <div class="col-10 component-view">
        <div class="container">
            <div class="d-flex justify-content-between call-to-actions">
                <div class="col-4">
                    <div class="input-group search_box">
                        <span class="input-group-text border-0 bg-transparent" id="basic-addon1">
                            <i class="bi bi-search"></i>
                        </span>
                        <input ngbTooltip="For date use format: AAAA-MM-DD" tooltipClass="tooltip-class" type="text"
                            class="form-control border-0" placeholder="Search" aria-describedby="basic-addon1"
                            (keyup)="search()" />
                    </div>
                </div>
                <img src="assets/icons/add.svg" alt="" style="height: 30px;
                width: 30px; cursor: pointer;" />
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Origin</th>
                            <th scope="col">Created on</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let i = index">
                            <td><span class="pointer" (click)="editBussinessGroup(d?.id)">{{ d?.id
                                    }}</span></td>
                            <td><span class="pointer" (click)="editBussinessGroup(d?.id)">{{ d?.name
                                    }}</span></td>
                            <td><span class="pointer" (click)="editBussinessGroup(d?.id)">{{
                                    d?.location?.name }}</span></td>
                            <td><span class="pointer" (click)="editBussinessGroup(d?.id)">{{
                                    d?.origin?.name }}</span></td>
                            <td><span class="pointer" (click)="editBussinessGroup(d?.id)">{{ d?.created | date:
                                    'mediumDate' }}</span></td>

                            <td>
                                <div ngbDropdown container="body" placement="bottom-end">
                                    <button class="btn btn-light btn-sm more_btn" ngbDropdownToggle>
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <!-- <div ngbDropdownMenu>
                                        <button ngbDropdownItem (click)="navigateTo(d.id, 'legal-entity')">
                                            Manage Legal Entity
                                        </button>
                                        <button ngbDropdownItem (click)="navigateTo(d.id, 'location')">
                                            Manage Location
                                        </button>
                                        <button ngbDropdownItem (click)="navigateTo(d.id, 'practice')">
                                            Manage Practice
                                        </button>
                                        <div class="dropdown-divider"></div>
                                        <button ngbDropdownItem (click)="deleteBG(d.id)">
                                            Delete
                                        </button>
                                    </div> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>