@mixin flex {
    display: flex;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    height: calc(100vh - 145px);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 1rem;

    div {
        background-color: #f9fafb;
        @include center;
        cursor: pointer;

        p {
            font-size: 2rem;
            text-align: center;
            max-width: 200px;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }
}