$navbar-height: 40px;

* {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.row>* {
    padding: 0px !important;
}

.navbar {
    height: $navbar-height;
    padding: 0px;
    margin: 0px;
}

.left-menu {}

.content {
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        padding: 15px;
    }

    .router {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.right-menu {
    margin: 1rem 1rem 1rem 0rem;
}

.wrapper {
    height: calc(100vh - $navbar-height);
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    column-gap: 1rem;

    div {}
}