$navbar-height: 40px;

* {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.row>* {
    padding: 0px !important;
}

.navbar {
    height: $navbar-height;
    padding: 0px;
    margin: 0px;
}

.left-menu {
    border: 1px solid;
    height: calc(100vh - $navbar-height);
}

.content {
    border: 1px solid;
    min-width: none;
    height: calc(100vh - $navbar-height);
}

.right-menu {
    border: 1px solid;
    height: calc(100vh - $navbar-height);
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 200px;

    div {
        border: 1px solid;
    }
}